name = "media-timeline"
main = "src/index.ts"
compatibility_date = "2024-12-01"

[triggers]
crons = ["*/5 * * * *"]

[[d1_databases]]
binding = "DB"
database_name = "media-timeline-db"
database_id = "fee9822f-cc95-422b-bcff-5aad177d5dfb"
migrations_dir = "migrations"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "media-timeline"

[vars]
ENVIRONMENT = "development"
