---
import TimelinePreview from "./TimelinePreview";
---

<section id="preview" class="timeline-preview-section">
	<h3>See it in action</h3>
	<p class="description">A unified view of your commits, posts, and thoughts.</p>
	<div class="timeline-demo-container">
		<TimelinePreview client:load />
	</div>
</section>

<style>
	.timeline-preview-section {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-top: 5rem;
	}

	.timeline-preview-section h3 {
		text-align: center;
	}

	.timeline-preview-section .description {
		text-align: center;
	}

	.timeline-demo-container {
		border: 1px solid var(--input-border);
		border-radius: 4px;
		padding-left: 10px;
		padding-top: 4px;
		padding-bottom: 4px;
		margin-top: 8px;
	}
</style>
