---
import AppLayout from "../../layouts/AppLayout.astro";
import ConnectionList from "../../components/solid/ConnectionList";
---

<AppLayout title="Connections | Media Timeline">
  <section>
    <div class="flex-row" style="justify-content: space-between;">
      <h3>Connections</h3>
      <a href="/connections/new">+ Add Connection</a>
    </div>
    <p class="description">Manage your connected platforms.</p>
  </section>
  <ConnectionList client:load />
</AppLayout>
