---
import ConnectionList from "../../components/solid/ConnectionList";
import AppLayout from "../../layouts/AppLayout.astro";
---

<AppLayout 
  title="Connections | Media Timeline"
  description="Connect and manage your GitHub, Twitter, Reddit, Bluesky, and YouTube accounts."
  noindex={true}
>
  <section>
    <h1 class="page-title">Connections</h1>
    <p class="description">Manage your connected platforms.</p>
  </section>
  <ConnectionList client:load />
</AppLayout>
