---
import AppLayout from "../../layouts/AppLayout.astro";
---

<AppLayout title="New Connection | Media Timeline">
  <section>
    <a href="/connections" class="description">&larr; Back to connections</a>
    <h3>Add Connection</h3>
    <p class="description">Connect a new platform to your timeline.</p>
  </section>
  <div id="connection-form-root">
    <p class="description">Loading form...</p>
  </div>
</AppLayout>
