---
import AppLayout from "../../layouts/AppLayout.astro";
import ConnectionForm from "../../components/solid/ConnectionForm";
---

<AppLayout title="New Connection | Media Timeline">
  <section>
    <a href="/connections" class="description">&larr; Back to connections</a>
    <h3>Add Connection</h3>
    <p class="description">Connect a new platform to your timeline.</p>
  </section>
  <ConnectionForm client:load />
</AppLayout>

<script>
  // Redirect to connections list on success after a delay
  document.addEventListener("connection-added", () => {
    setTimeout(() => {
      window.location.href = "/connections";
    }, 1500);
  });
</script>
