.dashboard {
	display: flex;
	height: 100vh;
}

.sidebar {
	flex: 1 0 20%;
	background-color: #f9f9f9;
	padding: 1rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1rem;
}

.nav {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-item {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	transition: background-color 0.2s ease-in-out;
}

.nav-item:hover {
	background-color: #e6e6e6;
}

.icon {
	width: 1.5rem;
	height: 1.5rem;
	margin-right: 0.5rem;
}

.main {
	flex: 1 0 80%;
	padding: 1rem;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.account-summary {
	flex-basis: 50%;
}

.account-name {
	font-size: 2rem;
	margin: 0;
	margin-bottom: 0.5rem;
}

.providers {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 0.5rem;
}

.provider {
	background-color: #f1f1f1;
	color: #333;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

.cost {
	font-weight: bold;
	margin-right: 0.25rem;
}

.upgrade-btn {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	margin-left: 0.5rem;
}

.upgrade-btn:hover {
	background-color: #555;
}

.user-summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.user-heading {
	font-size: 1.5rem;
	margin: 0;
	margin-bottom: 0.5rem;
}

.add-user-btn {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	margin-left: 0.5rem;
}

.add-user-btn:hover {
	background-color: #555;
}

.show-user-btn {
	background-color: #f1f1f1;
	border: none;
	padding: 0.25rem 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	margin-left: 0.5rem;
}

.show-user-btn:hover {
	background-color: #e6e6;
}
