@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
	height: 100%;
}

input[type="text"],
select {
	@apply bg-base-primary rounded-md border-[#282c3e] focus:bg-base-secondary py-1 px-2;
}
