@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
	height: 100%;
}

input[type="text"],
select {
	@apply bg-base-primary focus:bg-base-secondary rounded-xl border-base-border border-2  py-1 px-2;
}

.integration-form input[type="text"],
.integration-form select {
	@apply bg-base-secondary focus:bg-base-tertiary;
}
